{% extends 'base.html.twig' %}

{% block title %}{{ 'Create a new Event' | trans }}{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('javascript/DateManager.js') }}" defer></script>
{% endblock %}

{% block body %}


    <h1 class="text-2xl md:text-4xl text-center justify-center items-center mx-auto my-20">{{ 'New event' | trans }}</h1>
    {{ include('event/_eventForm.html.twig') }}


<div class='flex flex-col items-center justify-center'>
    <div>
        <a href="{{ path('main_home') }}"><input type="button" class="w-48 bg-red-700 text-white border rounded-lg"
                                                 value="{{ 'Cancel' | trans }}"></a>
    </div>
</div>
{% endblock %}


