{% extends 'base.html.twig' %}

{% block title %}{{ 'Create a new Event' | trans }}{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('javascript/DateManager.js') }}" defer></script>
    <script src="{{ asset('javascript/city-places.js') }}" defer></script>
{% endblock %}

{% block body %}


    <h1 class="text-2xl md:text-4xl text-center justify-center items-center mx-auto mb-10">{{ 'New event' | trans }}</h1>
    {{ include('event/_eventForm.html.twig') }}

<div id="place-details">

</div>

{% endblock %}


