{% block body %}
<div>
    {% if events|length != 0 %}
        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 text-center w-full">
            <div class="col-span-2">
                {{ include('form/search.html.twig') }}
                <div class="flex items-center justify-center my-8">
                    <a href="{{ path('event_add') }}"><input type="button" value="{{ 'Create an event' | trans }}"
                                                             class="border-blue-500 btnblue white rounded-lg p-4 mx-10 font-bold text-xl"></a>
                </div>
            </div>
            {% for event in events %}
                {% if event.status.name !='canceled' or event.eventPlanner == app.user %}
                    {% if event.status.name !='created' or event.eventPlanner == app.user %}
                        {% if event.status.name !='archived' %}
                            <div class="container relative rounded-lg shadow-lg shadow-teal-950/30 place-content-between
                                {% if event.status.name == 'canceled' and event.eventPlanner == app.user %}
                                    bg-red-400/60
                                {% elseif app.user in event.attendants %}
                                    bg-green-400/60
                                {% else %}
                                    bg-white/60
                                {%  endif %}}">
                                <a href="{{ path('event_details', {'id':event.id}) }}">
                                    <h2 class="text-xl text-blue-950 font-extrabold italic hover:text-blue-500 py-2 card-title"> {{ event.name | capitalize }} </h2>
                                </a>
                                <div class="hidden lg:block p-1 font-semibold">
                                    <i class="fa-solid fa-location-dot perso-teal"></i>
                                    <div> {{ event.place.name}} </div>
                                    <div> {{ event.place.street}} </div>
                                    <div>{{ event.place.city.zipCode}}
                                    {{ event.place.city.name}} </div>
                                </div>
                                <div class="p-1 font-semibold"><i class="fa-solid fa-person perso-teal"></i>
                                    <a href="{{ path('user_details', {'id':event.eventPlanner.id}) }}" class="hover:text-blue-500">
                                        {{ event.eventPlanner.firstname |capitalize }} {{ event.eventPlanner.lastname | split('')[0] |upper }}
                                        .
                                    </a>
                                </div>
                                <div class="p-1 font-semibold"><i class="fa-solid fa-calendar-days perso-teal"></i> {{ event.startDate | date('d/m/y H:i') }}</div>
                                <div class="p-1 font-semibold"><i class="fa-solid fa-hourglass-end perso-teal" ></i> {{ event.registrationDeadline | date('d/m/y H:i') }}</div>
                                <div class="p-1 font-semibold"><i class="fa-solid fa-user-group perso-teal"></i> {{ event.attendants.count }} / {{ event.maxRegistrations  }}</div>
                                <div class="font-bold p-1">
                                    {% if event.status.name == 'open' %}
                                        <i class="fa-solid fa-lock-open perso-teal"></i> {{ event.status.name | trans }}
                                    {% elseif event.status.name == 'closed'%}
                                        <i class="fa-solid fa-lock perso-teal"></i> {{ event.status.name | trans }}
                                    {% elseif event.status.name == 'created' %}
                                        <i class="fa-solid fa-spinner perso-teal"></i> {{ event.status.name | trans }}
                                    {% elseif event.status.name == 'canceled'%}
                                         <p class ="text-red-600"> {{ event.status.name | trans | upper }} </p>
                                         <p class ="text-red-600"> {{ event.cancelJustification }}</p>
                                    {% elseif event.status.name == 'finished'%}
                                        <i class="fa-solid fa-flag-checkered perso-teal"></i> {{ event.status.name | trans }}
                                    {% endif %}
                                </div>
                                <div class="text-wrap p-1 mb-12 font-semibold"><i class="fa-solid fa-quote-left fa-flip-vertical perso-teal"></i> {{ event.description }} <i class="fa-solid fa-quote-left fa-rotate-180 perso-teal"></i> </div>
                                <div class="flex items-center w-full justify-evenly p-2 card-buttons">
                                    {% if event | display_show_button (app.user) %}
                                        <div class="font-bold text-center px-2 hover:text-blue-500">
                                            <a href="{{ path('event_details', {'id':event.id}) }}" title="{{ 'Show event details' | trans }}">
                                                <i class="fa-solid fa-eye perso-teal"></i></a>
                                        </div>
                                    {% endif %}

                                    {% if event | display_edit_publish_buttons(app.user) %}
                                        <div class="font-bold text-center px-2 hover:text-blue-500">
                                            <a href="{{ path('event_edit', {'id':event.id}) }}" title="{{ 'Edit the event' | trans }}">
                                                <i class="fa-solid fa-pen-to-square perso-teal"></i></a>
                                        </div>
                                        {% endif %}

                                        {% if event | display_cancel_button(app.user) %}
                                            <div class="font-bold text-center px-2 hover:text-blue-500">
                                                <a href="{{ path('event_cancel', {'id':event.id}) }}" title="{{ 'Cancel the event' | trans }}">
                                                    <i class="fa-solid fa-ban perso-teal"></i></a>
                                            </div>
                                        {% endif %}

                                    {% if event | display_edit_publish_buttons(app.user) %}
                                        <div class="font-bold text-center px-2">
                                            <a href="{{ path('event_publish', {'id':event.id}) }}" title="{{ 'Publish the event' | trans }}">
                                                <i class="fa-solid fa-share perso-teal"></i></a>
                                        </div>
                                    {% endif %}

                                    {% if event | display_unsub_button(app.user) %}
                                        <div class="font-bold text-center px-2 hover:text-blue-500">
                                            <a href="{{ path('event_unsubscribe', {'id':event.id}) }}" title="{{ 'Unsubscribe the event' | trans }}">
                                                <i class="fa-solid fa-user-minus perso-teal"></i></a>
                                        </div>
                                    {% endif %}

                                    {% if event | display_sub_button(app.user) %}
                                        <div class="font-bold text-center px-2 hover:text-blue-500">
                                            <a href="{{ path('event_subscribe', {'id':event.id}) }}" title="{{ 'Subscribe the event' | trans }}">
                                                <i class="fa-solid fa-user-plus perso-teal"></i></a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        {{ 'There are no events planned for now !' | trans }}
    {% endif %}
</div>
{% endblock %}


