{% block body %}
    <div class="flex items-center justify-center my-8">
        <a href="{{ path('event_add') }}"><input type="button" value="Create an event"
                                             class="border-blue-500 bg-blue-500 text-white rounded-lg p-4 mx-10 font-bold text-xl"></a>
    </div>
    <div>
        {% if events|length != 0 %}
            <table class="table-auto border border-gray-200 m-auto">
                <thead class="bg-gray-100 ">
                <tr>
                    <th class="border-collapse border border-black w-auto px-8">Event's name</th>
                    <th class="border-collapse border border-black w-auto px-8">Event's date</th>
                    <th class="border-collapse border border-black w-auto px-8">Registration deadline</th>
                    <th class="border-collapse border border-black w-auto px-8">Attendants</th>
                    <th class="border-collapse border border-black w-auto px-8">Status</th>
                    <th class="border-collapse border border-black w-auto px-8">Participation</th>
                    <th class="border-collapse border border-black w-auto px-8">Event's planner</th>
                    <th class="border-collapse border border-black w-auto px-8">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    {% if event.status.name !='canceled' or event.eventPlanner == app.user %}
                    {% if event.status.name !='created' or event.eventPlanner == app.user %}
                    {% if event.status.name !='archived' %}
                        <tr class="h-20 md:h-12 text-center {{ loop.index % 2 == 0 ? 'bg-gray-100' : '' }}">
                            <td class="border-collapse border-x border-black"><a
                                        href="{{ path('event_details', {'id':event.id}) }}"
                                        class="hover:text-blue-500">{{ event.name }}</a></td>
                            <td class="border-collapse border-x border-black">{{ event.startDate |date('d/m/Y') }}</td>
                            <td class="border-collapse border-x border-black">{{ event.registrationDeadline |date('d/m/Y') }}</td>
                            <td class="border-collapse border-x border-black">{{ event.attendants.count }}
                                /{{ event.maxRegistrations }}</td>
                            <td class="border-collapse border-x border-black">{{ event.status.name }}</td>
                            <td class="border-collapse border-x border-black">
                                {% for attendant in event.attendants %}
                                    {{ (attendant.id == app.user.id) ? '<i class="fa-solid fa-circle-check"></i>' : '' }}
                                {% endfor %}
                            </td>

                            <td class="border-collapse border-x border-black">
                                <a href="{{ path('user_details', {'id':event.eventPlanner.id}) }}"
                                   class="hover:text-blue-500">
                                    {{ event.eventPlanner.firstname |capitalize }} {{ event.eventPlanner.lastname | split('')[0] |upper }}
                                    .
                                </a>
                            </td>

                            {# colonne action #}

                            <td class="border-collapse border-black flex items-center text-center">

{#                                 Event with status ongoing, finished or user is eventPlanner and event is canceled #}
                                {% if event | display_show_button (app.user) %}
                                    <div class="font-bold text-center px-2">
                                        <a href="{{ path('event_details', {'id':event.id}) }}"><i
                                                    class="fa-solid fa-eye"></i></a>
                                        <br>
                                        Show
                                    </div>
                                {% endif %}
                                {% if event | display_edit_publish_buttons(app.user)%}
                                    <div class="font-bold text-center px-2">
                                        <a href="{{ path('event_edit', {'id':event.id}) }}">
                                            <i class="fa-solid fa-pen-to-square"></i></a>
                                        <br>
                                        Edit
                                    </div>
{#                                    TODO : gérer les routes !#}
{#                                <div class="font-bold text-center px-2">#}
{#                                    <a href="{{ path('event_open', {'id':event.id}) }}">#}
{#                                        <i class="fa-solid fa-share"></i></a>#}
{#                                    <br>#}
{#                                    Publish#}
{#                                </div>#}
{#                                {% endif%}#}
{#                                {% if event | display_cancel_button(app.user) %}#}
{#                                    <div class="font-bold text-center px-2">#}
{#                                        <a href="{{ path('event_cancel', {'id':event.id}) }}">#}
{#                                            <i class="fa-solid fa-ban"></i></a>#}
{#                                        <br>#}
{#                                        Cancel#}
{#                                    </div>#}
                                {% endif %}
                                {% if event | display_unsub_button(app.user)  %}
                                    <div class="font-bold text-center px-2">
                                        <a href="{{ path('event_unsubscribe', {'id':event.id}) }}">
                                            <i class="fa-solid fa-user-minus"></i></a>
                                        <br>
                                        Unsubscribe
                                    </div>
                                {% endif %}
                                {% if event | display_sub_button(app.user)  %}
                                    <div class="font-bold text-center px-2">
                                        <a href="{{ path('event_subscribe', {'id':event.id}) }}">
                                            <i class="fa-solid fa-user-plus"></i></a>
                                        <br>
                                        Subscribe
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                    {% endif %}
                    {% endif %}


                {% endfor %}
                </tbody>
            </table>
        {% else %}
            There are no events planned for now !
        {% endif %}
    </div>
    <div class="flex items-center justify-center my-8">
        <a href="{{ path('event_add') }}"><input type="button" value="Create an event"
                                                 class="border-blue-500 bg-blue-500 text-white rounded-lg p-4 mx-10 font-bold text-xl"></a>
    </div>
{% endblock %}


