{% extends 'base.html.twig' %}

{% block title %}Hello CampusController!{% endblock %}

{% block body %}
    <div class="flex flex-col items-center justify-center my-8 w-3/4 mx-auto">
        <h2 class="text-2xl font-bold">{{ 'Campus index' | trans }}</h2>

        <table class="table-auto border border-gray-200 my-8">
            <thead class="bg-gray-100">
            <tr>
                <th class="w-48">{{ 'Name' | trans }}</th>
                <th class="w-48">{{ 'Actions' | trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for campus in campuses %}
                <tr class="h-20 md:h-12 text-center {{ loop.index % 2 == 0 ? 'bg-gray-100' : '' }}">
                    <td>{{ campus.name }}</td>
                    <td class="flex items-center justify-evenly h-full">
                        <div class="font-bold text-center">
                            <a href="{{ path('app_city_show', {'id': campus.id}) }}"><i class="fa-solid fa-eye"></i></a>
                            <br>
                            {{ 'Show' | trans }}
                        </div>
                        <div class="font-bold text-center">
                            <a href="{{ path('app_city_edit', {'id': campus.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                            <br>
                            {{ 'Edit' | trans }}
                        </div>
                        <div class="font-bold text-center">
                            {{ include('campus/_delete_pic.html.twig') }}
                        </div>

                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">{{ 'no records found' | trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>
            <button class="btn bg-blue-500 hover:bg-blue-700 text-white
                            font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full">
                <a href="{{ path('app_city_new') }}">{{ 'Create New' | trans}}</a>
            </button>
        </div>
    </div>
{% endblock %}
