{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h2 class="w-full text-center text-2xl font-bold my-8">Reset your password</h2>
    <div class="flex items-center justify-center w-3/4 mx-auto">

        {{ form_start(requestForm) }}
            {{ form_label(requestForm.email, 'Email', {'label_attr': {'class': 'block text-gray-700 font-bold mb-2'}}) }}
            {{ form_widget(requestForm.email, {'attr': {'class': 'form-input w-full rounded-md shadow-sm'}}) }}
            <div>
                <span class="text-center">
                    Enter your email address, and we will send you a
                    link to reset your password.
                </span>
            </div>

            <button class="btn bg-blue-500 hover:bg-blue-700 text-white my-8
                        font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full">Send password reset email</button>
        {{ form_end(requestForm) }}
    </div>
{% endblock %}
