{% extends 'base.html.twig' %}


{% block body %}
    <div class="mb-10">
        {% set h = 'now'|date('H') %}
        <div class="text-center text-white flex-col items-center justify-center mb-4 font-bold">
            <p>{{ 'Date of the day' | trans }} : {{ "now" | date('d/m/Y') }}</p>
            <p>
                {% if h >= 6 and h < 12 %}
                    {{ 'Good Morning' | trans }} {{ app.user.firstname | capitalize }} !
                {% elseif h >= 12 and h < 18 %}
                    {{ 'Good Afternoon' | trans }} {{ app.user.firstname | capitalize }} !
                {% elseif h >= 18 %}
                    {{ 'Good Evening' | trans }} {{ app.user.firstname | capitalize }} !
                {% else %}
                    {{ 'Night night' | trans }} {{ app.user.firstname | capitalize }} !
                {% endif %}
            </p>
        </div>

        <div class="flex-col items-center justify-evenly">
            {{ include('event/list.html.twig') }}
        </div>
    </div>

{% endblock %}

{% block title %}
    {{ parent() }} Accueil
{% endblock %}

