{% extends 'base.html.twig' %}


{% block body %}
    {% if (app.user) %}
        <div class="font-bold m-10">
            <p>Date of the day : {{ "now" | date('d/m/Y') }}</p>
            <p>User : {{ app.user.firstname |capitalize }} {{ app.user.lastname | split('')[0] |upper }}. </p>
        </div>
    {% endif %}

    <div class="mx-10 flex">
        <p class="font-bold">Find some events</p>
        <form action=""></form>

        <a href="{{ path('event_add') }}"><input type="button" value="Search"
                                                     class="border-blue-500 bg-blue-500 text-white rounded-lg p-2"></a>

    </div>

    {{ include('event/list.html.twig') }}
{% endblock %}

{% block title %}
    {{ parent() }} Accueil
{% endblock %}

