<h1>{{'Hi!' | trans}}</h1>

<p>{{ 'sentence1' | trans }}</p>


<a href="{{ url }}">{{ 'Login page' | trans }}</a>

<p>{{ 'sentence2' | trans }}</p>
<p>{{ 'Your email is' | trans }} {{ user.email }}</p>
<p>{{ 'Your password is' | trans }} {{ nickname }}</p>
<p>{{ 'sentence3' | trans }}</p>

<p>{{'Cheers!' | trans}}</p>

<p>{{'signaturemail' | trans}}</p>
