<nav class="top-0 right-0 w-2/3">
    <div class="hidden md:flex items-center justify-end space-x-12 pr-12">
        <a href="{{ path('main_home') }}">{{ 'Home' | trans }}</a>
        <a href="{{ path('event_list') }}">{{ 'Events' | trans }}</a>
        {% if app.user %}
            {% if app.user.isAdmin %}
                <a href="{{ path('admin_manage_users') }}">{{ 'Manage Users' | trans }}</a>
                <a href="{{ path('app_place_index') }}">{{ 'Places' | trans }}</a>
                <a href="{{ path('app_city_index') }}">{{ 'Cities' | trans }}</a>
            {% endif %}
            <a href="{{ path('user_details', {'id': app.user.id }) }}">{{ app.user.nickname }}</a>
            <a href="{{ path('app_logout') }}">{{ 'Logout' | trans }}</a>
        {% else %}
            <a href="{{ path('app_login') }}">{{ 'Login' | trans }}</a>
        {% endif %}
    </div>
</nav>