<nav class="top-0 right-0 w-2/3">

    {#  NAVBAR Medium+ Screen  #}
    <div class="hidden md:flex items-center justify-end space-x-12 pr-12">
        <a href="{{ path('main_home') }}">{{ 'Home' | trans }}</a>
        <a href="{{ path('event_list') }}">{{ 'Events' | trans }}</a>
        {% if app.user %}
            {% if app.user.isAdmin %}
                <a href="{{ path('admin_manage_users') }}">{{ 'Manage Users' | trans }}</a>
                <a href="{{ path('app_place_index') }}">{{ 'Places' | trans }}</a>
                <a href="{{ path('app_city_index') }}">{{ 'Cities' | trans }}</a>
            {% endif %}
            <a href="{{ path('user_details', {'id': app.user.id }) }}">{{ app.user.nickname }}</a>
            <a href="{{ path('app_logout') }}">{{ 'Logout' | trans }}</a>
        {% else %}
            <a href="{{ path('app_login') }}">{{ 'Login' | trans }}</a>
        {% endif %}
    </div>

    {#  NAVBAR Small Screen  #}
    {#  open menu button  #}
    <div class="flex items-end justify-end">
        <button class="md:hidden block right-0 mr-4 text-right" id="menu-toggle">
            Menu
        </button>
    </div>
    {# Menu #}
    <div class="md:hidden absolute top-full right-0 mt-4 mr-4 bg-white rounded-md border-gray-300 shadow-md" id="menu">
        <ul>
            <li><a href="{{ path('main_home') }}">{{ 'Home' | trans }}</a></li>
            <li><a href="{{ path('event_list') }}">{{ 'Events' | trans }}</a></li>
            {% if app.user %}
                {% if app.user.isAdmin %}
                    <li><a href="{{ path('admin_manage_users') }}">{{ 'Manage Users' | trans }}</a></li>
                    <li><a href="{{ path('app_place_index') }}">{{ 'Places' | trans }}</a></li>
                    <li><a href="{{ path('app_city_index') }}">{{ 'Cities' | trans }}</a></li>
                {% endif %}
                <li><a href="{{ path('user_details', {'id': app.user.id }) }}">{{ app.user.nickname }}</a></li>
                <li><a href="{{ path('app_logout') }}">{{ 'Logout' | trans }}</a></li>
            {% else %}
                <li><a href="{{ path('app_login') }}">{{ 'Login' | trans }}</a></li>
            {% endif %}
        </ul>
    </div>

</nav>