<!--NAVBAR-->
<section class="top-nav w-full h-full">
    <a href="{{ path('main_home') }}">
        <div class="nav-logo flex items-center justify-center">
                <img class="logo hidden md:block" src="{{ asset('imgs/logos/logo.png') }}" alt="Logo">
                <h1 class="text-xl md:text-2xl text-black font-bold">{{ "Welcome to Sortir.com" | trans }} </h1>
        </div>
    </a>
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container flex items-center justify-center' for="menu-toggle">
        <div class='menu-button'></div>
    </label>
    <ul class="menu">
        <li>
                    <a href="{{ path('main_home') }}" class="flex items-center justify-between text-center">
                        <i class="fa-solid fa-house"></i>
                        <div class="w-full">{{ 'Home' | trans }}</div>
                    </a>
        </li>
        {% if app.user %}
            <li>
                <a href="{{ path('event_list') }}" class="flex items-center justify-between text-center">
                    <i class="fa-solid fa-person-walking-arrow-right"></i>
                    <div class="w-full">{{ 'Events' | trans }}</div>
                </a>
            </li>
            <li>
                <a href="{{ path('app_place_index') }}" class="flex items-center justify-between text-center">
                    <i class="fa-solid fa-location-dot"></i>
                    <div class="w-full">{{ 'Places' | trans }}</div>
                </a>
            </li>
            <li>
                <a href="{{ path('app_group_index') }}" class="flex items-center justify-between text-center">
                    <i class="fa-solid fa-people-roof"></i>
                    <div class="w-full">{{ 'Private Groups' | trans }}</div>
                </a>
            </li>
            {% if app.user.isAdmin %}
                <li>
                    <a href="{{ path('admin_manage_users') }}" class="flex items-center justify-between text-center">
                        <i class="fa-solid fa-users"></i>
                        <div class="w-full">{{ 'Manage Users' | trans }}</div>
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_city_index') }}" class="flex items-center justify-between text-center">
                        <i class="fa-solid fa-city"></i>
                        <div class="w-full">{{ 'Cities' | trans }}</div>
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_campus_index') }}" class="flex items-center justify-between text-center">
                        <i class="fa-solid fa-building-columns"></i>
                        <div class="w-full">Campus</div>
                    </a>
                </li>
            {% endif %}
            <li>
                <a href="{{ path('user_details', {'id': app.user.id }) }}" class="flex items-center justify-between text-center">
                    <i class="fa-solid fa-user"></i>
                    <div class="w-full">{{ app.user.nickname }}</div>
                </a>
            </li>
            <li>
                <a href="{{ path('app_logout') }}" class="flex items-center justify-between text-center">
                    <i class="fa-solid fa-plug-circle-xmark"></i>
                    <div class="w-full">{{ 'Logout' | trans }}</div>
                </a>
            </li>
        {% else %}
            <li>
                <a href="{{ path('app_login') }}" class="flex items-center justify-between text-center">
                    <i class="fa-solid fa-plug"></i>
                    <div class="w-full">{{ 'Login' | trans }}</div>
                </a>
            </li>
        {% endif %}
    </ul>
</section>

