{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit Group' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Edit Group' | trans }}</h1>

    {{ include('group/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_group_index') }}">{{ 'Back to list' | trans }}</a>

    {{ include('group/_delete_form.html.twig') }}
{% endblock %}
