{% extends 'base.html.twig' %}

{% block title %}{{ 'Place index' | trans }}{% endblock %}

{% block body %}
    <div class="flex flex-col items-center justify-center my-8 w-3/4 mx-auto">
    <h2 class="text-2xl font-bold">{{ 'Place index' | trans }}</h2>

        <table class="table-auto border border-gray-200 my-8">
            <thead class="bg-gray-100">
                <tr>
                    <th class="w-48">{{ 'Name' | trans }}</th>
                    <th class="w-32">{{ 'City'| trans }}</th>
                    <th class="w-64">{{ 'Street'| trans }}</th>
                    <th class="w-32">{{ 'Latitude'| trans }}</th>
                    <th class="w-32">{{ 'Longitude' | trans }}</th>
                    <th class="w-32">{{ 'Actions' | trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for place in places %}
                <tr class="h-20 md:h-12 text-center {{ loop.index % 2 == 0 ? 'bg-gray-100' : '' }}">
                    <td>{{ place.name }}</td>
                    <td>{{ place.city.name }}</td>
                    <td>{{ place.street }}</td>
                    <td>{{ place.latitude }}</td>
                    <td>{{ place.longitude }}</td>
                    <td>
                        <a href="{{ path('app_place_show', {'id': place.id}) }}"><i class="fa-solid fa-eye"></i></a>
                        <a href="{{ path('app_place_edit', {'id': place.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">{{ 'no records found' | trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>
            <a href="{{ path('app_place_new') }}">
                <button class="btn bg-blue-500 hover:bg-blue-700 text-white
                            font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full">{{ 'Create New' | trans }}</button>
            </a>
        </div>
    </div>

{% endblock %}
