<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sortir{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('styles/styles.css') }}">
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('javascript/backToTop.js') }}" defer></script>
            <script src="https://kit.fontawesome.com/dfcb81c047.js" crossorigin="anonymous"></script>
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="">

        {{ include('includes/header.html.twig') }}

        <div class="main-container grow">
            {% block body %}{% endblock %}
        </div>
        <div class="w-full flex items-center justify-center my-4 font-bold text-xl">
            <button onclick="topFunction()" id="backToTop"><i class="fa-solid fa-arrow-up"></i>
                <br>
                Back To Top
            </button>
        </div>
        <footer class="border-t border-neutral-400 flex items-center text-black justify-center bottom-0 w-full p-1 md:p-2">
            <span class="text-xs md:text-base">
                &copy; {{ "now" | date('Y') }} | My name is JEF
            </span>
        </footer>
    </body>
</html>
