{% extends 'base.html.twig' %}

{% block title %}
Change password | {{ parent() }}
{% endblock %}

{% block body %}

    <h1 class="text-center text-3xl font-bold text-gray-700">Change my profile</h1>

    {{ form_start(passwordForm) }}
    <div class="my-4 grid-cols-1 text-center">
        {{ form_label(passwordForm.password, 'Password', {'label_attr': {'class': 'block text-gray-700 font-bold mb-2'}}) }}
        {{ form_widget(passwordForm.password, {'attr': {'class': 'form-input rounded-md shadow-sm w-3/5 m-auto', 'name': 'password'}}) }}
        {{ form_errors(passwordForm.password) }}

    </div>



        <div class="w-1/5 px-3 m-auto">
            <button type="submit" class="btn bg-green-600 hover:bg-green-700 text-white my-2
                            font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full">
                Submit
            </button>
        </div>

        {{ form_end(passwordForm) }}

        <div class="w-1/5 px-3 m-auto">
            <a href="{{ path('user_modify_profile') }}">
            <input type="submit" class="btn bg-red-700 hover:bg-red-800 text-white my-2
                            font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full" value="Cancel" formnovalidate>
            </a>
        </div>



{% endblock %}

