{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Change Password' | trans }}
{% endblock %}

{% block body %}

    <div class="mt-28 md:mt-0">

        <h1 class="w-1/2 text-3xl text-center mx-auto font-bold text-gray-700">{{ 'Change Password' | trans }}</h1>

        {{ form_start(passwordForm) }}
        <div class="my-4 grid-cols-1 text-center">

            <div class="flex-col">

                <div class="w-full flex-col">
                    <div>{{ form_label(passwordForm.password.first, 'New Password' | trans) }}</div>
                    <div>{{ form_widget(passwordForm.password.first, {'attr': {'autocomplete': 'off'}}) }}</div>

                    {{ form_errors(passwordForm.password.first) }}
                </div>

                <div class="w-full flex-col">
                    <div>{{ form_label(passwordForm.password.second, 'Repeat Password' | trans) }}</div>
                    <div>{{ form_widget(passwordForm.password.second, {'attr': {'autocomplete': 'off'}}) }}</div>

                    {{ form_errors(passwordForm.password.second) }}
                </div>

            </div>



        </div>



        <div class="px-3 w-full flex justify-center">
            <button type="submit" class="w-40 btn bg-green-600 hover:bg-green-700 text-white my-2
                            font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline ">
                {{ 'Submit' | trans  }}
            </button>
        </div>

        {{ form_end(passwordForm) }}

        <div class="px-3 w-full flex justify-center">
            <a href="{{ path('user_modify_profile') }}">
                <input type="button" class="w-40 btn bg-red-700 hover:bg-red-800 text-white my-2
                            font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline " value="{{ 'Cancel' | trans  }}" formnovalidate>
            </a>
        </div>

    </div>





{% endblock %}

