<h1>{{'Hi!' | trans}}</h1>

<p>{{ 'sentence1' | trans }}</p>


<a href="{{ url }}">{{ 'Login page' | trans }}</a>

<p>{{ 'sentence2' | trans }}</p>

<p>{{ 'sentence3' | trans }}</p>

<p>{{'Cheers!' | trans}}</p>

<p>{{'signaturemail' | trans}}</p>
