{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(userForm) }}


    <h1 class="text-center text-3xl font-bold text-gray-700">My profile</h1>


    <div class="grid md:grid-cols-3 w-1/2 mx-auto md:gap-16 justify-center place-content-evenly p-4">

        <div >
            <img src="" alt="User image">
        </div>

        <div>
            <div class="my-4">
                {{ form_label(userForm.nickname, 'Nickname', {'label_attr': {'class': 'block text-gray-700 font-bold mb-2'}}) }}
                {{ form_widget(userForm.nickname, {'attr': {'class': 'form-input rounded-md shadow-sm'}}) }}
                {{ form_errors(userForm.nickname) }}

            </div>

            <div class="my-4">
                {{ form_label(userForm.firstname, 'First Name', {'label_attr': {'class': 'block text-gray-700 font-bold mb-2'}}) }}
                {{ form_widget(userForm.firstname, {'attr': {'class': 'form-input rounded-md shadow-sm'}}) }}
                {{ form_errors(userForm.firstname) }}

            </div>

            <div class="my-4">
                {{ form_label(userForm.lastname, 'Last Name', {'label_attr': {'class': 'block text-gray-700 font-bold mb-2'}}) }}
                {{ form_widget(userForm.lastname, {'attr': {'class': 'form-input rounded-md shadow-sm'}}) }}
                {{ form_errors(userForm.lastname) }}

            </div>

        </div>



        <div>

            <div class="my-4">
                {{ form_label(userForm.email, 'Mail', {'label_attr': {'class': 'block text-gray-700 font-bold mb-2'}}) }}
                {{ form_widget(userForm.email, {'attr': {'class': 'form-input rounded-md shadow-sm'}}) }}
                {{ form_errors(userForm.email) }}

            </div>

            <div class="my-4">
                {{ form_label(userForm.phoneNumber, 'Phone Number', {'label_attr': {'class': 'block text-gray-700 font-bold mb-2'}}) }}
                {{ form_widget(userForm.phoneNumber, {'attr': {'class': 'form-input rounded-md shadow-sm'}}) }}
                {{ form_errors(userForm.phoneNumber) }}

            </div>

            <div class="my-4">
                {{ form_label(userForm.profilePic, 'Profile Picture', {'label_attr': {'class': 'block text-gray-700 font-bold mb-2'}}) }}
                {{ form_widget(userForm.profilePic, {'attr': {'class': 'form-input rounded-md shadow-sm'}}) }}
                {{ form_errors(userForm.profilePic) }}
            </div>
        </div>

</div>

    <button type="submit" class="btn bg-blue-500 hover:bg-blue-700 text-white my-8
                    font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full">
        Submit
    </button>

        {{ form_end(userForm) }}

{% endblock %}

{% block title %}
    My profile {{ parent() }}
{% endblock %}