{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(userForm) }}


    <h1 class="text-center text-3xl font-bold text-gray-700">My profile</h1>


    <div class="grid md:grid-cols-3 w-1/2 mx-auto md:gap-16 justify-center place-content-evenly p-4">

        <div >
            <img src="{{ asset('imgs/pp/' ~ app.user.profilePic) }}" alt="User image">
            <div class="my-4">
                <div class="block text-gray-700 font-bold mb-2">New Profile Picture:</div>
                <a href="{{ path('app_upload') }}">
                    <input type="button" class="btn bg-blue-500 hover:bg-blue-700 text-white
                    font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full" value="Download">
                </a>
            </div>
        </div>

        <div>
            <div class="my-4">
                {{ form_label(userForm.nickname, 'Nickname', {'label_attr': {'class': 'block text-gray-700 font-bold mb-2'}}) }}
                {{ form_widget(userForm.nickname, {'attr': {'class': 'form-input rounded-md shadow-sm'}}) }}
                {{ form_errors(userForm.nickname) }}

            </div>

            <div class="my-4">
                {{ form_label(userForm.firstname, 'First Name', {'label_attr': {'class': 'block text-gray-700 font-bold mb-2'}}) }}
                {{ form_widget(userForm.firstname, {'attr': {'class': 'form-input rounded-md shadow-sm'}}) }}
                {{ form_errors(userForm.firstname) }}

            </div>

            <div class="my-4">
                {{ form_label(userForm.lastname, 'Last Name', {'label_attr': {'class': 'block text-gray-700 font-bold mb-2'}}) }}
                {{ form_widget(userForm.lastname, {'attr': {'class': 'form-input rounded-md shadow-sm'}}) }}
                {{ form_errors(userForm.lastname) }}

            </div>

        </div>



        <div>

            <div class="my-4">
                {{ form_label(userForm.email, 'Mail', {'label_attr': {'class': 'block text-gray-700 font-bold mb-2'}}) }}
                {{ form_widget(userForm.email, {'attr': {'class': 'form-input rounded-md shadow-sm'}}) }}
                {{ form_errors(userForm.email) }}

            </div>

            <div class="my-4">
                {{ form_label(userForm.phoneNumber, 'Phone Number', {'label_attr': {'class': 'block text-gray-700 font-bold mb-2'}}) }}
                {{ form_widget(userForm.phoneNumber, {'attr': {'class': 'form-input rounded-md shadow-sm'}}) }}
                {{ form_errors(userForm.phoneNumber) }}

            </div>

            <div  class="my-4">
                <a href="{{ path('user_change_password') }}">
                    <input type="button" class="btn bg-blue-500 hover:bg-blue-700 text-white mt-8
                    font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full" value="Change your password">
                </a>
            </div>

        </div>

</div>


    <div class="md:flex text-center justify-center items-center mx-auto my-1 w-full">
        <div class="w-1/5 px-3">
            <button type="submit" class="btn bg-green-600 hover:bg-green-700 text-white my-2
                    font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                Submit
            </button>
        </div>
        <div class="w-1/5 px-3">
            <a href="{{ path('user_my_profile') }}">
                <input type="button" class="btn bg-red-700 hover:bg-red-800 text-white my-2
                    font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" value="Cancel">
            </a>
        </div>
    </div>

        {{ form_end(userForm) }}

{% endblock %}

{% block title %}
    My profile {{ parent() }}
{% endblock %}